.svn/
.vs/
*/obj/
*/bin/
**/packages/
QBFunctionTest/TestConfigs.xml
TestResults/
*.CodeAnalysisLog.xml
*.ruleset
*.lastcodeanalysissucceeded
*.suo
*.cache
*.orig
*.bak
/License.log
/Intuit.QuickBase.sln.DotSettings.user
