.svn
Intuit.QuickBase.Client/obj/
Intuit.QuickBase.Client/bin/
Intuit.QuickBase.Core/obj/
Intuit.QuickBase.Core/bin/
QBFunctionTest/obj/
QBFunctionTest/bin/
QBFunctionTest/TestConfigs.xml
TestResults/
*.CodeAnalysisLog.xml
*.ruleset
*.lastcodeanalysissucceeded
*.suo
